<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhtg.unorganized_control.mapper.CarRegisterMapper">
    <select id="chazhao" parameterType="com.lhtg.unorganized_control.entity.ParkLedgerLaster" resultType="com.lhtg.unorganized_control.entity.ParkLedgerLaster">
            select
                pll.LicensePlate licensePlate,
                pll.CDateTime cDateTime,
                pll.EnvironmentalCode environmentalCode,
                pll.RegisterDate registerDate,
                pll.VIN vIN,
                pll.EngineNO engineNo,
                pll.AccompanyList accompanyList,
                pll.DrivingLicense drivingLicense,
                pll.DischargeStage disChargeStage,
                pll.ShipmentName shipmentName,
                pll.FreightVolume freightVolumn,
                pll.MotorcadeName motorCadeName,
                CONVERT(varchar(100), pll.CDateTime, 20) cDateTime
                 /*DATE_FORMAT(pll.CDateTime,'%Y-%m-%d  %H:%i:%s') cDateTime*/
            from Park_LedgerLaster pll
    </select>

</mapper>
