
.user_login{
    display: block;
    margin: 0px auto;
    width: 800px;
    height: 500px;
    border-radius: 10px;
}
.select_language{
    position: relative;
    margin-right: 20px;
    float: left;
    font-size: 12px;
    line-height: 25px;
    font-weight: normal;
    background: url(../img/user_top_r.gif);
    height: 116px;
    width: 180px;;
}
.select_lang{
    width: 100px;
    margin-top: 8px;

}
a{
    color: #000000;
    text-decoration: none;

}
.user_login_head{
    display: flex;
}
.title_bg1{
    background: url(../img/user_top_l.gif) no-repeat 50% top;
    width: 129px;
    height: 116px;
}
.title_bg2{
    background: url(../img/user_top_c.gif) no-repeat 50% top;
    width: 280px;
    height:116px;
}
.user_login_body{
    display: flex;
}
.body_bg1{
    background: url(../img/user_main_l.gif) no-repeat #bec5cc 50% top;
    width: 129px;
    height: 139px;
}
.body_bg2{
    background: url(../img/user_main_c.gif);
    width: 280px;
    height: 139px;
}
.user_name{
    line-height: 25px;
    height: 25px;
    text-align: right;
}
#username_bg{
    background: url(../img/user_login_name.gif) no-repeat;
    width: 165px;
    line-height: 20px;
    height: 21px;
    padding-left: 30px;
    border: none;
}
#password_bg{
    background: url(../img/user_login_password.gif) no-repeat;
    width:165px;
    line-height: 20px;
    padding-left: 30px;
    height: 21px;
    border: none;
}
.body_bottom_bg{
    background: url(../img/user_main_r.gif)#bec5cc no-repeat 50% top;;
    width: 180px;
    height: 139px;
}
.user_bottom{
    width: 111px;
    height: 122px;
    background: url(../img/user_botton.gif);
}
.btn_css{
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
}
.user_login_bottom{
    display: flex;
}
.bottom_bg1{
    background: url(../img/user_bottom_l.gif) no-repeat 50% top;
    height:117px;
    width: 129px;
}
.bottom_bg2{
    background:url(../img/user_bottom_c.gif) no-repeat 50% top;
    color: #fff;
    line-height: 117px;
    width: 280px;
    height: 117px;
}
.bottom_bg3{
    background: url(../img/user_bottom_r.gif) no-repeat 50% top;
    width: 180px;
    height: 117px;
}

.userlogin_body{
    background: url(../img/user_all_bg.gif) 50% top repeat-x rgb(34, 108, 197);
    margin: 110px -150px 0px 0px;
    font: 12px / 150% Arial,Helvetica,sans-serif;
    text-decoration: none;
}
